apiVersion: v1
kind: Service
metadata:
  name: demo-app
  namespace: demo
  labels:
    app: demo-app
    app.kubernetes.io/name: demo-app
spec:
  type: NodePort
  selector:
    app: demo-app
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    nodePort: 30080
    protocol: TCP
